---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getTaxonomy } from "src/utils/getTaxonomy";

const tags = await getTaxonomy("posts", "tags");
---

<BaseLayout title="" description="">
  <ul>
    {
      tags &&
        tags.map((tag) => (
          <li>
            <a class="text-3xl text-blue-500" href={`/tags/${tag}`}>
              {tag}
            </a>
          </li>
        ))
    }
  </ul>
</BaseLayout>
