---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getTaxonomy } from 'src/utils/getTaxonomy'
import { customSlugify } from 'src/utils/libs/customSlugify'

const categories = await getTaxonomy('posts', 'categories')
---

<BaseLayout title="" description="">
  <ul>
    {
      categories &&
        categories.map((category) => (
          <li>
            <a
              href={`/categories/${customSlugify(category)}`}
            >
              {category}
            </a>
          </li>
        ))
    }
  </ul>
</BaseLayout>
