---
import PostCard from "./PostCard.astro";
const { posts } = Astro.props;
---

<div class="grid grid-cols-3 gap-3">
  {
    posts
      .slice(0, 3)
      .map((post) => <PostCard data={post.data} slug={post.slug} />)
  }
</div>
